* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        background-image: linear-gradient(120deg, #6A359C 0%, #D92122 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button {
    color: #6A359C;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #6A359C;
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    margin-top: 10px;
    min-width: 20%;
    list-style: none;
    border: none;
}

.todo {
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}
.filter-todo {
    padding: 11px;
}

.trash-btn,
.complete-btn {
    background: #6A359C;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completedItemBtn,
.deleteItemBtn {
    margin-top: 10px;
    cursor: pointer;
}


.complete-btn {
    background: rgb(11, 212, 162);

}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

